{% extends 'base.html.twig' %}

{% block title %}À propos{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/about.css') }}">
{% endblock %}

{% block body %}
<div class="about-page">
    <!-- Images décoratives -->
    <img src="{{ asset('assets/images/about/plante2g.png') }}" class="decorative-image bottom-left" alt="Décoration">
    <img src="{{ asset('assets/images/about/plante1d.png') }}" class="decorative-image bottom-right" alt="Décoration">

    <div class="main-container">
        <h1 class="main-title">À propos :</h1>
        
        <div class="content-text">
            <p>
                Née d'une passion pour le service, la qualité et l'élégance. Gilaé est une 
                conciergerie qui anticipe tous vos besoins avec disponibilité et bienveillance.
            </p>
            
            <p>
                Entre discrétion et engagement, exigence et empathie, nous vous accompagnons 
                avec le plus haut niveau de professionnalisme, permettant ainsi à nos clients 
                de vivre une expérience la plus simple et sereine possible.
            </p>
            
            <p>
                Au delà de la gestion logistique, nous nous attachons aux moindres détails 
                pour une vie sublimée au quotidien.
            </p>
        </div>
    </div>
    <img src="{{ asset('assets/images/about/plante.png') }}" class="decorative-image" alt="Décoration">
</div>
{% endblock %}