{% extends 'base.html.twig' %}

{% block title %}Gestion
{% endblock %}

{% block body %}
{% include 'pages/navbar_admin/index.html.twig' %}
	<div class="gestion-container">
		<div class="pricing-header">
			<h1>Gestion du site</h1>
			<img src="{{ asset('assets/images/gestion/flower.png') }}" class="header-image" alt="Fleur droite">
		</div>

		<div class="button-grid">
			<div class="button-column">
			{% if is_granted('ROLE_ADMIN') %}
				<a href="{{ path('admin_home') }}" class="menu-button">Acceuil</a>
				<a href="{{ path('admin_about') }}" class="menu-button">A propos</a>
				<a href="{{ path('app_service') }}" class="menu-button">Services</a>
				<a href="{{ path('app_tarifs') }}" class="menu-button">Tarifs/Packs</a>

			</div>
			<div class="button-column">
				<a href="{{ path('app_faq') }}" class="menu-button">FAQ</a>
				<a href="{{ path('app_temoiniage') }}" class="menu-button">Avis</a>
				<a href="{{ path('app_formulaire') }}" class="menu-button">Contact</a>
				<button class="btn-modifmdp button-grid " onclick="window.location.href='/admin/modifier-mot-de-passe'">Modifier Mot de passe</button>
			{% endif %}
			</div>
		</div>
	{% endblock %}
