{% extends 'base.html.twig' %}

{% block title %}Modifier mot de passe
{% endblock %}

{% block body %}
	<h1>Modifier votre mot de passe</h1>
	<img src="{{ asset('assets/images/gestion/flower.png') }}" class="mdpimg" alt="Fleur droite">
	{{ form_start(form) }}
	{{ form_row(form.oldPassword) }}
	{{ form_row(form.newPassword) }}
	{{ form_row(form.confirmPassword) }}

	<div class="btn-container">
		<button class="btn btn-primary" onclick="window.location.href='/gestion'">Modifier</button>
		<button class="btn btn-primary1" onclick="window.location.href='/gestion'">Annuler</button>
	</div>
	{{ form_end(form) }}

	{% for message in app.flashes('error') %}
		<div class="alert alert-danger">{{ message }}</div>
	{% endfor %}

	{% for message in app.flashes('success') %}
		<div class="alert alert-success">{{ message }}</div>
	{% endfor %}
{% endblock %}
