{% extends 'base.html.twig' %}

{% block title %}Services | Gilae Conciergerie{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/service.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/general.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/navbar.css') }}">
	<link rel="stylesheet" href="{{ asset('assets/css/footer.css') }}">
{% endblock %}

{% block body %}
    <div class="service-container">
        <div class="service-header">
            <img src="{{ asset('assets/images/logo/serviceup.png') }}" alt="Services Gilae Conciergerie">
        </div>
        
        <!-- Premier service -->
        <div class="service-item">
            <div class="service-text">
                <img src="{{ asset('assets/images/logo/text1s.png') }}" alt="Description service 1">
            </div>
            <div class="service-image">
                <img src="{{ asset('assets/images/logo/calendar.png') }}" alt="Icône calendrier">
            </div>
        </div>
        
        <!-- Deuxième service -->
        <div class="service-item">
            <div class="service-image">
                <img src="{{ asset('assets/images/logo/tarif.png') }}" alt="Icône tarif">
            </div>
            <div class="service-text">
                <img src="{{ asset('assets/images/logo/text2s.png') }}" alt="Description service 2">
            </div>
        </div>
        
        <!-- Troisième service -->
        <div class="service-item">
            <div class="service-text">
                <img src="{{ asset('assets/images/logo/text3s.png') }}" alt="Description service 3">
            </div>
            <div class="service-image">
                <img src="{{ asset('assets/images/logo/menage.png') }}" alt="Icône ménage">
            </div>
        </div>
        
        <!-- Quatrième service -->
        <div class="service-item">
            <div class="service-image">
                <img src="{{ asset('assets/images/logo/telephone.png') }}" alt="Icône téléphone">
            </div>
            <div class="service-text">
                <img src="{{ asset('assets/images/logo/text4s.png') }}" alt="Description service 4">
            </div>
        </div>
    </div>
{% endblock %}