<nav class="navbar">
	<div class="navbar-container">

		<div class="navbar-left">
			<img src="{{ asset('assets/images/logo/logo-white.png') }}" alt="Logo de Gilaë" height="80">
		</div>

		<div class="navbar-center">
			<ul class="navbar-menu" id="navbar-menu">
				<li>
					<a href="{{ path('app_home') }}">{{ contenus.accueil|default('Accueil')}}</a>
				</li>
				<li>
					<a href="{{ path('app_about') }}">{{ contenus.apropos|default('À propos')}}</a>
				</li>
				<li>
					<a href="{{ path('app_service') }}">{{ contenus.services|default('Services')}}</a>
				</li>
				<li>
					<a href="{{ path('app_tarifs') }}">{{ contenus.tarifs|default('Tarifs / Packs')}}</a>
				</li>
				<li>
					<a href="{{ path('app_formulaire') }}">{{ contenus.contact|default('Contact')}}</a>
				</li>
				<li>
					<a href="{{ path('app_conseils') }}">{{ contenus.conseils|default('Conseils')}}</a>
				</li>
			</ul>
		</div>

		<div
			class="navbar-right">
			<!-- Bouton Dark/Light mode -->
			<button id="theme-toggle" class="theme-button">
				<img id="theme-icon" src="{{ asset('assets/images/icons/sun.png') }}" alt="Mode">
			</button>

			<!-- Sélecteur de langue -->
			<div class="language-select">
				<select id="language-selector" onchange="changeLanguage(this)">
					<option value="fr" {% if app.request.locale == 'fr' %} selected {% endif %}>Français</option>
					<option value="en" {% if app.request.locale == 'en' %} selected {% endif %}>English</option>
				</select>
			</div>
			<button class="navbar-toggle" id="navbar-toggle">Menu ☰</button>
		</div>

	</div>
</nav>
