<nav class="navbar">
    <div class="navbar-container">

        <div class="navbar-left">
            <img src="{{ asset('assets/images/logo/logo-white.png') }}" alt="Logo de Gilaë" height="80">
        </div>

        <div class="navbar-center">
            <ul class="navbar-menu" id="navbar-menu">
                <li><a href="{{ path('app_home') }}">Accueil</a></li>
                <li><a href="{{ path('app_about') }}">À propos</a></li>
                <li><a href="{{ path('app_service') }}">Services</a></li>
                <li><a href="{{ path('app_tarifs') }}">Tarifs / Packs</a></li>
                <li><a href="{{ path('app_contact') }}">Contact</a></li>
                <li><a href="{{ path('app_blog') }}">Conseils</a></li>
            </ul>
        </div>

        <div class="navbar-right">
            <button class="navbar-toggle" id="navbar-toggle">Menu ☰</button>
        </div>

    </div>
</nav>
