{% extends 'base.html.twig' %}

{% block title %}FAQ - Conciergerie{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/faq.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/general.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/navbar.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/footer.css') }}">
{% endblock %}

{% block body %}
    <main class="faq-container">
        <h1 class="faq-title">FAQ</h1>

        <div class="faq-item">
            <div class="faq-content">
                <div class="faq-question">Qu'est-ce qu'une conciergerie ?</div>
                <div class="faq-reponse">
                    <p>Une conciergerie gère votre location saisonnière du début à la fin du séjour des voyageurs.</p>
                </div>
            </div>
        </div>

        <div class="faq-item">
            <div class="faq-content">
                <div class="faq-question">Quels sont vos services ?</div>
                <div class="faq-reponse">
                    <p>Nous proposons la création et la gestion de votre annonce, la communication avec les voyageurs, le ménage, et bien plus.</p>
                </div>
            </div>
        </div>

        <div class="faq-item">
            <div class="faq-content">
                <div class="faq-question">Comment se déroule la gestion ?</div>
                <div class="faq-reponse">
                    <p>Nous nous occupons de l'accueil des voyageurs, de l'assistance pendant leur séjour, ainsi que du ménage entre les locations.</p>
                </div>
            </div>
        </div>

        <div class="faq-item">
            <div class="faq-content">
                <div class="faq-question">Quel est le coût d'une conciergerie ?</div>
                <div class="faq-reponse">
                    <p>Nous percevons une commission en tant que pourcentage des revenus locatifs.</p>
                </div>
            </div>
        </div>

        <div class="faq-item text-center">
            <div class="contact-text">D'autres questions ? Envoyez-les nous</div>
            <button class="contact-link">Nous contacter</button>
        </div>
        
        <img src="{{ asset('assets/images/faq/plantesf.png') }}" class="decorative-imagefaq" alt="Plantes décoratives">
    </main>
{% endblock %}