{# templates/faq/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}FAQ - Conciergerie
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/faq.css') }}">
	<link rel="stylesheet" href="{{ asset('assets/css/general.css') }}">
	<link rel="stylesheet" href="{{ asset('assets/css/navbar.css') }}">
	<link rel="stylesheet" href="{{ asset('assets/css/footer.css') }}">
{% endblock %}

{% block body %}
	<h1 class="faq-title">FAQ</h1>

	<div class="faq-item">
		<div class="faq-question">Qu'est-ce qu'une conciergerie ?</div>
		<div class="faq-reponse">Une conciergerie gère votre location saisonnière</div>
		<div class="faq-reponse">du début à la fin du séjour des voyageurs.</div>
	</div>

	<div class="faq-item">
		<div class="faq-question">Quels sont vos services ?</div>
		<div class="faq-reponse">Nous proposons la création et la gestion</div>
		<div class="faq-reponse">de votre annonce, la communication avec les</div>
		<div class="faq-reponse">voyageurs, le ménage, et bien plus.</div>
	</div>

	<div class="faq-item">
		<div class="faq-question">Comment se déroule la gestion ?</div>
		<div class="faq-reponse">Nous nous occupons de l'accueil des voyageurs,</div>
		<div class="faq-reponse">de l'assistance pendant leur séjour, ainsi que du</div>
		<div class="faq-reponse">ménage entre les locations.</div>
	</div>

	<div class="faq-item">
		<div class="faq-question">Quel est le coût d'une conciergerie ?</div>
		<div class="faq-reponse">Nous percevons une commission en tant que</div>
		<div class="faq-reponse">pourcentage des revenus locatifs.</div>
	</div>

	<div class="faq-item text-center mt-4">
		<div class="contact-text">D'autres questions ? Envoyez-les nous</div>
		<button class="contact-link">Nous contacter</button>
	</div>
	<img src="{{ asset('assets/images/faq/plantesf.png') }}" class="decorative-imagefaq" alt="Décoration">
{% endblock %}
