<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}

			<link rel="stylesheet" href="{{ asset('assets/css/home.css') }}?v=2">
			<link rel="stylesheet" href="{{ asset('assets/css/navbar.css') }}?v=2">
			<link rel="stylesheet" href="{{ asset('assets/css/general.css') }}?v=2">
			<link rel="stylesheet" href="{{ asset('assets/css/service.css') }}?v=2">
			<link rel="stylesheet" href="{{ asset('assets/css/footer.css') }}?v=2">
			<link rel="stylesheet" href="{{ asset('assets/css/mention.css') }}?v=2">
      		<link rel="stylesheet" href="{{ asset('assets/css/about.css') }}?v=2">
			<link rel="stylesheet" href="{{ asset('assets/css/conseils.css') }}?v=2">

			<link href="https://fonts.googleapis.com/css2?family=Instrument+Serif&display=swap" rel="stylesheet">
			<link href="https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap" rel="stylesheet">

		{% endblock %}
	</head>
	<body>
		{% include 'pages/navbar/navbar.html.twig' %}
		{% block body %}{% endblock %}
        {% include 'pages/footer/footer.html.twig' %}
		{% block javascripts %}
			<script>
				document.addEventListener('DOMContentLoaded', function () {
                    const toggle = document.getElementById('navbar-toggle');
                    const menu = document.getElementById('navbar-menu');    
                    const navbar = document.querySelector('.navbar');   

                    toggle.addEventListener('click', () => {
                    menu.classList.toggle('show');
                    navbar.classList.toggle('menu-open');
                    });
                });
			</script>
		{% endblock %}
	</body>
</html>
