{% extends 'base.html.twig' %}

{% block title %}Tarifs/Packs | Gilae Conciergerie
{% endblock %}


{% block body %}
	

	<div class="pricing-container">
		<div class="pricing-header">
			<img src="{{ asset('assets/images/logo/flowerleft.png') }}" class="header-image-left" alt="Fleur gauche">
			<h1>Tarifs / Packs</h1>
			<img src="{{ asset('assets/images/logo/flowerright.png') }}" class="header-image" alt="Fleur droite">
		</div>

		<div
			class="pricing-cards">
			<!-- Carte Basic -->
			<div class="pricing-card">
				<h2>Basic</h2>
				<div class="price">90 €
					<div class="price-text">
						<small>/mois</small>
					</div>
				</div>

				<ul class="features">
					<li>Gestion des réservations</li>
					<li>Accueil des voyageurs</li>
					<li>Assistance 7j/7</li>
					<img src="{{ asset('assets/images/tarif/menageb.png') }}" style="width: 250px; height: auto;" alt="Icône ménage">
				</ul>
			</div>

			<!-- Carte Confort -->
			<div class="pricing-card">
				<h2>Confort</h2>
				<div class="price">7%
					<div class="price-text">
						<small>réservations</small>
					</div>
				</div>

				<div class="divider"></div>

				<ul class="features">
					<li>Service Basic inclus</li>
					<li>Optimisation des tarifs</li>
					<li>Ménage inclus</li>
					<img src="{{ asset('assets/images/tarif/telephoneb.png') }}" style="width: 250px; height: auto;" alt="Icône téléphone">
				</ul>
			</div>

			<!-- Carte Privilège -->
			<div class="pricing-card">
				<h2>Privilège</h2>
				<div class="price">15%
					<div class="price-text">
						<small>réservations</small>
					</div>
				</div>

				<div class="divider"></div>

				<ul class="features">
					<li>Service Confort inclus</li>
					<li>Conciergerie sur mesure</li>
					<li>Soins hôteliers</li>
					<img src="{{ asset('assets/images/tarif/tarifb.png') }}" style="width: 250px; height: auto;" alt="Icône tarif">
				</ul>
			</div>
		</div>
	</div>
{% endblock %}
